<img src="assets/banner.webp" alt="">
<div style="display: flex; justify-content: space-between;">
    <div style="width: 100%; text-align: center;">
        <h1 style="color: #2750b4; font-size: 50px; margin-top: 30px; margin-bottom: 30px;">Quienes Somos</h1>
        <p style="width: 70%; margin: 0 auto 30px">Somos una empresa con sede en el Restrepo Bogotá. Nos dedicamos a la confección y venta de calzado. Contamos con una apmplia trayectoria en el mercado Colombiano</p>
    </div>
</div>
<footer style="display: flex; justify-content: center; padding: 30px 0; background-color: #2750b4; color: white">
    © Sko Shoes S.A.S Derechos Reservados
</footer>
