<div>
    <img src="assets/contact.webp" alt="contactanos">
</div>
<div style="display: flex; justify-content: center;">
    <form style="width: 500px;">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>email</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Mensaje</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary">Enviar</button>
        </div>
    </form>
</div>